# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# Environments
venv*
build/

# For API keys
.env